/* Included Fonts */
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans");

article {
  letter-spacing: 0.03125rem;
  line-height: 1.5;
  margin: 2rem 0;
}

article h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  text-align: center;
}

article h1 + hr {
  color: #364f6b;
  margin-bottom: 2rem;
  opacity: 0.5;
  width: 10vw;
}

article h1 img {
  display: block;
  margin: 0 auto;
}


article p {
  font-size: 1.1rem;
  padding: 0.3rem 0;
}

article + hr {
  color: #364f6b;
  opacity: 0.5;
}

aside img[src="images/arrow.png"] {
  display: none;
}

body {
  background-color: #f5f5f5;
  color: #364f6b;
  font-family: "Open Sans", sans-serif;
}

footer {
  display: grid;
  grid-template-columns: auto auto auto;
  border-top: 1px solid rgba(54, 79, 107, 0.1);
  padding-top: 1.5rem;
}

footer div {
  padding: 0 0.25rem;
  text-align: center;
}

footer div ul {
  list-style-type: none;
  padding: 0;
}

header {
  margin-bottom: 1rem;
  text-align: center;
}

header h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

header h2 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.5;
}

nav a {
  color: #364f6b;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav a:hover {
  color: #fc5185;
  border-bottom: 2px solid #fc5185;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav li {
  flex: 1;
}

nav ul {
  border-bottom: 1px solid rgba(54, 79, 107, 0.1);
  border-top: 1px solid rgba(54, 79, 107, 0.1);
  display: flex;
  list-style-type: none;
  padding: 0.9rem 0;
  margin-bottom: 1.25rem;
}

section {
  border-radius: 1rem;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin: 2rem 0 3rem;
}

.red_button {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  color: #fc5185;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.red_button:hover {
  background: #fc5185;
  color: white;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.red_button img {
  display: none;
}

#about_content {
  display: flex;
  align-items: center;
}

#about_content p,
#about_detail {
  display: inline-block;
}

#about_detail {
  flex: 9;
  vertical-align: middle;
}

#about_detail p {
  margin: 0.25rem 0;
}

#about_social p {
  text-align: center;
}

#about_social i {
  cursor: pointer;
  padding: 0 1.25rem;
}

#banner_description {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.125rem;
  padding: 0.5rem 0.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}

#banner_image {
  background-image: url("https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1024&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  height: 40vh;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
}

#banner_image:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#main_wrapper {
  margin: 1rem auto;
  width: 50vw;
}

#zozor_picture img {
  border-radius: 100%;
}

#zozor_picture {
  flex: 1;
  margin-right: 1.25rem;
}

.friend {
  display: inline-block;
  position: relative;
}

.friend img {
  border-radius: 100%;
  width: 3.5rem;
}

.friend .friend_tooltip {
  background-color: #364f6b;
  border-radius: 0.5rem;
  color: #fff;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  padding: 0.25rem 0;
  position: absolute;
  text-align: center;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  visibility: hidden;
  width: 7vw;
  z-index: 1;
}

.friend:hover .friend_tooltip {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  visibility: visible;
}

.friends {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* Social Icons */
.fa-facebook-square {
  color: #3b5998;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-twitter-square {
  color: #1da1f2;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-vimeo-square {
  color: #1ab7ea;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-flickr {
  color: #0063dc;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-rss-square {
  color: #f26522;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-facebook-square:hover {
  color: #082665;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-twitter-square:hover {
  color: #006ebf;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-vimeo-square:hover {
  color: #0084b7;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-flickr:hover {
  color: #ff0084;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fa-rss-square:hover {
  color: #bf3200;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (max-width: 1024px) {

  footer {
    grid-template-columns: auto;
  }

  nav a {
    font-size: 1.75rem;
  }

  #banner_description {
    font-size: 3rem;
  }

  #banner_description a {
    border-radius: 2.5rem;
    font-size: 2rem;
    padding: 0.75rem 1.25rem;
  }

  #main_wrapper {
    width: 70vw;
  }

  .friend img {
    width: 10rem;
  }

  .friends {
    grid-template-columns: auto auto auto auto;
  }
}
