.container {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.item {
    margin: 0.5rem;
}

.item img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 992px) and (min-width: 480px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 479px) {
    .row {
        grid-template-columns: 1fr;
    }

    .row:first-child {
        position: static;
    }

    .row:nth-child(2) {
        position: relative;
        top: -500px;
    }
    
    .row:nth-child(3) {
        position: relative;
        top: -1000px;
    }

    .row:nth-child(4) {
        position: relative;
        top: -1500px;
    }

    .item {
        position: relative;
    }

    .item:first-child {
        position: static;
    }

    .item:nth-child(2) {
        top: -200px;
    }

    .item:nth-child(3) {
        top: -300px;
    }

    .item:nth-child(4) {
        top: -400px;
    }
}