.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.inverted {
  color: #000 !important;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 0.9rem;
}

.portfolio-item .caption {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 992px) {
  .portfolio-item {
    height: 100%;
    max-width: none;
    margin: 0;
  }

  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }

  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }

  .portfolio-item img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-item:hover img {
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);
  }

  .portfolio-item:hover .caption {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);
  }
}
